<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hy.mapper.AuditOrderMapper">
    <select id="selectSellingByGroupNum" resultType="com.hy.entity.order.SellingOrder">
        SELECT
            id,
            manager_name managerName
            FROM t_selling_order
        WHERE checked_state  = 12 AND group_num = #{groupNum}
    </select>

    <select id="selectorderItemsByGroupNum" resultType="com.hy.entity.OrderGood">
        SELECT
            tdoi.id,
            tdoi.group_num groupNum,
	        tdoi.order_num orderNum,
            SUM(tdoi.final_quantity) sumBuyCounts ,
            SUM(tdoi.gift_quantity) sumGiftQuantity ,
            tdoi.product_id goodId,
            tpp.relation_id supplierId,
            tpp.product_price productPrice
       	FROM t_selling_order teo
		LEFT JOIN t_selling_order_item tdoi ON teo.order_num = tdoi.order_num
        LEFT JOIN tp_product_price tpp ON tdoi.product_id = tpp.product_id  AND tpp.price_type = 1
        WHERE 1=1
		<if test="ids!=null">
			and  teo.id in
			<foreach collection="ids" open="(" close=")" separator="," item="id">
				#{id}
			</foreach>
		</if>
		and tdoi.group_num = #{groupNum} and  teo.checked_state = 1
        GROUP BY
            tdoi.product_id
    </select>

    <select id="selectGoodInventorys" resultType="java.lang.Double">
        SELECT SUM(product_quantity)
        FROM t_product_inventory
        WHERE product_id = #{goodId}
        GROUP BY product_id
    </select>

    <select id="getSupplierById" resultType="com.hy.entity.product.Supplier">
       SELECT id,
       contact_person contactPerson,
       contact_person_mobile contactPerson_mobile
        FROM
        tp_supplier
       where id = #{id}
    </select>

    <insert id="insertPurchaseOrder" parameterType="com.hy.entity.order.PurchaseOrder">
        insert into t_purchase_order(
			group_num,
			order_num,
			checked_state,
			order_date,
			deliver_date,
			deliver_style,
			deliver_address,
			manager_name,
			manager_tel,
			status,
			create_time,
			is_printed,
			supplier_id
		) values (
			#{groupNum},
			#{orderNum},
			#{checkedState},
			now(),
			date_add(now(),interval 5 day),
			1,
			#{deliverAddress},
			#{managerName},
			#{managerTel},
			1,
			NOW(),
			2,
			#{supplierId}
		)
    </insert>

    <insert id="insertPurOrderItem" parameterType="com.hy.entity.order.PurchaseOrderItem">
        insert into t_purchase_order_item(
			group_num,
			order_num,
			purchase_price,
			suggest_quantity,
			quantity,
			final_quantity,
			purchase_time ,
			svolume ,
			weight ,
			creator ,
			comment,
			create_time,
			product_id,
			gift_quantity
		) values (
			#{groupNum},
			(SELECT t.order_num FROM t_purchase_order t WHERE t.group_num = #{groupNum} AND t.supplier_id = #{supplerId}) ,
			#{purchasePrice},
			#{suggestQuantity},
			#{quantity},
			#{finalQuantity},
			NOW(),
			(#{finalQuantity}*(SELECT tp.sku_volume FROM t_product tp  WHERE tp.id = #{goodId} )),
			(#{finalQuantity}*(SELECT tp.sku_weight FROM t_product tp  WHERE tp.id = #{goodId} )),
			#{creator},
			#{comment},
			NOW(),
			#{goodId},
			#{giftQuantity}
		)
    </insert>

	<update id="updatePurchsaeOrederInfo" >
		UPDATE t_purchase_order tpo, (SELECT
				SUM(tpoi.svolume) svolume,
				SUM(tpoi.weight) weight,
				SUM(tpoi.purchase_price * tpoi.quantity ) price,
				tpoi.order_num orderNum
				FROM
					t_purchase_order_item tpoi
				WHERE
					tpoi.group_num = #{groupNum}
				GROUP BY
					tpoi.order_num
				) tpoa
		SET tpo.total_svolume = tpoa.svolume,
			tpo.total_weight = tpoa.weight,
			tpo.order_amount = tpoa.price
			WHERE
			tpo.order_num = tpoa.orderNum
			AND tpo.group_num = #{groupNum};
	</update>
	<update id="updateSellorderCheckState" >
		update t_selling_order SET checked_state = 2 WHERE 1=1
		<if test="ids!=null">
			and id in
			<foreach collection="ids" open="(" close=")" separator="," item="id">
				#{id}
			</foreach>
		</if>

	</update>
	<select id="selectSellingItem" resultType="com.hy.entity.order.SellingOrderItem">
		SELECT
			tsoi.id,
			tsoi.group_num groupNum,
			tsoi.order_num orderNum,
			tsoi.product_id productId,
			sum(tsoi.quantity) quantity,
			sum(tsoi.final_quantity) finalQuantity,
			sum(tsoi.gift_quantity) giftQuantity,
			tsoi.purchase_price purchasePrice,
			tsoi.sale_price salePrice,
			tso.merchant_id merchantId
		FROM
			t_selling_order_item tsoi, t_selling_order tso
		WHERE tsoi.order_num = tso.order_num
			<if test="ids!=null">
				and tso.id in
				<foreach collection="ids" item="id" separator="," close=")" open="(">
					#{id}
				</foreach>
			</if>
		and tsoi.group_num = #{groupNum}
		and tso.group_num = #{groupNum}
		AND tso.checked_state = 1
		group by tso.merchant_id , tsoi.product_id
	</select>

	<select id="getMerchantById" resultType="com.hy.entity.product.Merchant" useCache="true">
		SELECT
			id,
			contact_person contactPerson,
			mobile mobile,
			address address
		FROM
			t_merchant
		WHERE
			id = #{id}
	</select>

	<insert id="insertExOrder" parameterType="com.hy.entity.order.EXOrder" >
		insert into t_ex_warehouse_order(
		group_num,
		order_num,
		checked_state,
		merchant_id,
		manager_name,
		manager_tel,
		deliver_address,
		comment,
		is_ivt_order_print,
		is_temporary,
		user_id,
		is_order_print,
		ivt_state,
		order_type,
		ck_id,
		type,
		create_time
		)
		values (
		#{groupNum},
		#{orderNum},
		#{checkedState},
		#{merchantId},
		#{managerName},
		#{managerTel},
		#{deliverAddress},
		#{comment},
		0,
		2,
		#{userId},
		1,
		1,
		1,
		1,
		2,
		now()
		)
	</insert>

	<select id="getExorderByMerchantId" resultType="com.hy.entity.order.EXOrder" useCache="true">
		SELECT
			group_num groupNum,
			order_num orderNum
		FROM
			t_ex_warehouse_order
		WHERE
			merchant_id = #{merchantId}
		AND group_num = #{groupNum}

	</select>

	<select id="getExorderItemByGoodId" resultType="com.hy.entity.order.EXOrderItem">
		SELECT
			id,
			quantity quantity,
			final_quantity finalQuantity,
			gift_quantity giftQuantity
		FROM
			t_ex_order_item
		WHERE
			product_id = #{goodId}
		AND order_num = #{orderNum}
	</select>

	<insert id="insertExOrderItem" parameterType="com.hy.entity.order.EXOrderItem">
		insert into t_ex_order_item(
		group_num,
		order_num,
		product_id,
		sale_price,
		purchase_price,
		quantity,
		final_quantity,
		gift_quantity,
		creator,
		comment,
		state,
		is_ivt_BK
		)values (
		#{groupNum},
		#{orderNum},
		#{goodId},
		#{salePrice},
		#{purchasePrice},
		#{quantity},
		#{finalQuantity},
		#{giftQuantity},
		#{creator},
		#{comment},
		1,
		1
		)
	</insert>

	<update id="updateExOrederItemById" parameterType="com.hy.entity.order.EXOrderItem" >
		UPDATE t_en_order_item SET
		<if test="quantity != null and quantity !='' ">
			quantity = #{quantity},
		</if>
		<if test="finalQuantity != null and finalQuantity !='' ">
			final_quantity = #{finalQuantity},
		</if>
		<if test="giftQuantity != null and giftQuantity !='' ">
			gift_quantity= #{giftQuantity}
		</if>
		FROM
			t_ex_order_item
		WHERE
		id == #{id}
	</update>

	<update id="updateExOrderItemInfo">
		UPDATE t_ex_order_item teoi,
		 t_product tpt
		SET teoi.svolume = (
			tpt.sku_volume * (
				teoi.final_quantity + teoi.gift_quantity
			)
		),
		 teoi.weight = (
			tpt.sku_weight * (
				teoi.final_quantity + teoi.gift_quantity
			)
		),
		teoi.per_count = ((teoi.final_quantity + teoi.gift_quantity) MOD tpt.box_number),
		teoi.total_count = ((teoi.final_quantity + teoi.gift_quantity) DIV tpt.box_number)
		WHERE
			teoi.product_id = tpt.id
		AND teoi.group_num = #{groupNum}
	</update>

	<update id="updateExOrderInfo">
		UPDATE t_ex_warehouse_order texo1,
		 ( SELECT
				tewo.order_num orderNum,

				SUM(
					(teoi.quantity +teoi.gift_quantity)* teoi.svolume
				) totalSvolume,
				SUM(
					(teoi.quantity +teoi.gift_quantity)* teoi.weight
				) totalWeight,
				SUM(teoi.quantity*teoi.purchase_price) amount,
				SUM(teoi.final_quantity*teoi.purchase_price) finalAmount,
				teoi.order_num

			FROM
				t_ex_warehouse_order tewo,
				t_ex_order_item teoi
			WHERE
				tewo.order_num = teoi.order_num
				AND tewo.group_num = #{groupNum}
			GROUP BY
				teoi.order_num
		) tewoo
		SET texo1.final_amount = tewoo.finalAmount ,
				texo1.amount = tewoo.amount,
				texo1.total_svolume = tewoo.totalSvolume,
				texo1.total_weight = tewoo.totalWeight
		WHERE
			tewoo.orderNum = texo1.order_num
			AND texo1.group_num = #{groupNum}
	</update>

	<select id="getPurchaseOrder" resultType="com.hy.entity.order.PurchaseOrder">
		SELECT id FROM t_purchase_order WHERE  supplier_id = #{supplierId}  AND group_num = #{groupNum}
	</select>

	<select id="getPurchaseOrderItem" resultType="com.hy.entity.order.PurchaseOrderItem" parameterType="com.hy.entity.OrderGood">
		SELECT
			tpoi.id,
			tpoi.suggest_quantity suggestQuantity,
			tpoi.quantity quantity,
			tpoi.final_quantity finalQuantity,
			tpoi.gift_quantity giftQuantity
		FROM
			t_purchase_order tpo
		LEFT JOIN t_purchase_order_item tpoi ON tpo.order_num = tpoi.order_num
		WHERE
			tpo.supplier_id = #{supplierId}
		and tpo.group_num = #{groupNum}
		AND tpoi.product_id = #{goodId}
	</select>

	<update id="updatePurOrderItem" parameterType="com.hy.entity.order.PurchaseOrderItem">
		UPDATE t_purchase_order_item tpoi
		SET
			tpoi.suggest_quantity = #{suggestQuantity},
			tpoi.quantity = #{quantity},
			tpoi.final_quantity= #{finalQuantity},
			tpoi.gift_quantity =#{giftQuantity}
		WHERE tpoi.id = #{id}
	</update>
</mapper>