<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hy.mapper.AutoAssignMapper">
    <select id="getAllBuyGoods" resultType="com.hy.entity.BuyGood">
        SELECT
            t.product_id goodId,
            sum(t.final_quantity) sumBuyCounts,
            SUM(t.gift_quantity) sumGiftCounts,
            tp.min_order_num  minOrderNum
            FROM
            t_selling_order_item t
            LEFT JOIN t_product tp ON t.product_id = tp.id
            WHERE t.group_num = #{groupNum}
            GROUP BY t.product_id
    </select>
    <select id="getSumInventoryCount" resultType="java.lang.Double">
        SELECT
			sum(product_quantity) sumInventory
		FROM
			t_product_inventory
		where warehouse_id=1 AND product_id = #{goodId}
		GROUP BY product_id
    </select>

    <select id="getExOrderGood" resultType="com.hy.entity.BuyGood">
        SELECT
        t.id id,
        t.group_num groupNum,
        t.product_id goodId,
        t.quantity buyCounts,
        t.gift_quantity giftCounts,
        tp.min_order_num  minOrderNum
        FROM
        t_ex_order_item t
        LEFT JOIN t_product tp ON t.product_id = tp.id
        WHERE t.group_num = #{groupNum} and t.product_id = #{goodId}
        order by t.quantity desc
    </select>

    <update id="updateFinalBuyCounts" parameterType="com.hy.entity.BuyGood">
        update t_ex_order_item
        set
        final_quantity = #{finalBuyCounts}
        where id = #{id}
    </update>

    <select id="selectWarehouse" resultType="com.hy.entity.BuyGood" parameterType="com.hy.entity.BuyGood">
      SELECT

        id warehouseGoodId,
        product_quantity warehouseGoodCounts
        FROM
        t_product_inventory
        WHERE product_quantity > 0 and product_id = #{goodId} order by product_date
    </select>
    <update id="updateWarehouse" parameterType="com.hy.entity.BuyGood">
        UPDATE t_product_inventory SET product_quantity = #{warehouseGoodCounts}
        where id = #{warehouseGoodId}
    </update>
    <update id="updateOrderStart" >
        update t_ex_warehouse_order set ivt_state = 11 where ivt_state = 1 and group_num =#{groupNum} and order_type=1 and type=2
    </update>

    <select id="getDifferenceValue" resultType="com.hy.entity.BuyGood" parameterType="com.hy.entity.BuyGood">
        SELECT
            id ,
            quantity - final_quantity differenceValue,
            final_quantity finalBuyCounts
        FROM
            t_ex_order_item
        WHERE
            group_num = #{groupNum}
            and product_id = #{goodId}
            AND quantity > final_quantity
        ORDER BY
            differenceValue DESC
    </select>
</mapper>