<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ProductpriceMapper">
 <insert id="save" parameterType="pd" keyProperty="id">
	insert into tp_product_price(
	relation_id,  <!-- 关联供应商ID；关联商户便利店类型（共1-8种） -->
	product_id,
	price_type, <!-- 价格类型，1=成本价；2=售出价 -->
	product_price,  <!-- 售出价格 -->
	supplier_priority <!-- 优先权排行，1=最高级别；以此类推2次之......采购选择供应商判断依据字段， -->
		)value(
	#{relation_id},
	#{product_id},
	#{price_type},
	#{product_price},
	#{supplier_priority}
		)
 </insert>

<delete id="deleteproduct" parameterType="String">
delete from tp_product_price
		where 
			product_id = #{productId}
			and price_type=1;
</delete>
<update id="edit" parameterType="pd">
update tp_product_price
set
relation_id=#{relation_id},
product_price=#{product_price}
	where 
	id = #{id}
</update>
<!-- 根据商品ID查询供应商价格 -->
<select id="getSupplierPriceById" parameterType="String" resultType="pd">
select 
id,
relation_id,
product_id,
price_type,
product_price,
supplier_priority
from tp_product_price
where 
product_id=#{id}
and price_type=1   <!-- 价格类型，1=成本价；2=售出价 -->
	LIMIT 1;
</select>
<!-- 根据商品ID查询商户价格 -->

<select id="getSellingPriceById" parameterType="String" resultType="pd">
select 
id,
relation_id,
product_id,
price_type,
product_price,
supplier_priority
from tp_product_price
where 
product_id=#{id}
and price_type=2   <!-- 价格类型，1=成本价；2=售出价 -->
	LIMIT 1;
</select>
</mapper> 