<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="EXOrderItemMapper">
	<!-- 列表(全部) -->
	<select id="eXOrderItemlistPage" parameterType="page"
		resultType="pd" useCache="false">
		SELECT
		texoi.id,
		texoi.group_num,
		texoi.order_num,
		texoi.purchase_price,
		texoi.sale_price,
		texoi.final_quantity,
		texoi.svolume ,
		texoi.weight ,
		texoi.ex_time ,
		texoi.creator ,
		texoi.comment,
		texoi.create_time,
		tp.id as
		product_id,
		tp.product_name,
		tp.product_num,
		tp.bar_code,
		tp.min_stock_num,
		tp.max_stock_num,
		FROM t_ex_order_item texoi
		LEFT JOIN
		t_product tp ON tp.id =
		teno.product_id AND tp.is_shelve=1
		where
		texoi.state=1
		<if test="pd.keyword != null and pd.keyword != ''"><!-- 关键词检索 -->

			<if test="pd.searchcriteria==1">
				and texoi.group_num LIKE CONCAT('%','${pd.keyword}','%' )
			</if>
			<if test="pd.searchcriteria==3">
				and texoi.order_num LIKE CONCAT('%','${pd.keyword}','%' )
			</if>
		</if>
		<if test="pd.searchcriteria==2">
			<if test="pd.StartDate!=null and pd.StartDate!=''">
				and texoi.create_time &gt;= #{pd.StartDate}
			</if>
			<if test="pd.EndDate!=null and pd.EndDate!=''">
				and texoi.create_time &lt;= #{pd.EndDate}
			</if>
		</if>
		ORDER BY texoi.id DESC
	</select>
	<select id="findOrderItemByOrderNumid" parameterType="pd" resultType="pd">
		select * from t_ex_order_item AS toi where toi.id=#{order_num}
	</select>
	
	<select id="findOrderItemByOrderNum" parameterType="pd" resultType="pd">
		select * from t_ex_order_item AS toi where toi.order_num=#{order_num}
	</select>

	<!-- 新增 -->
	<insert id="save" parameterType="pd">
		insert into t_ex_order_item(
		group_num,
		order_num,
		purchase_price,
		sale_price,
		quantity,
		final_quantity,
		svolume ,
		weight ,
		ex_time ,
		creator ,
		comment,

		create_time,
		reason,
		is_ivt_BK,
		product_id
		) values (
		#{group_num},
		#{order_num},
		#{purchase_price},
		#{sale_price},
		#{quantity},
		#{final_quantity},
		#{svolume},
		#{weight},
		NOW(),
		#{creator},
		#{comment},
		now(),
		#{reason},
		#{is_ivt_BK},

		#{product_id}
		)
	</insert>

	<!-- <select id="printquantity" parameterType="java.util.List" resultType="pd">
		SELECT
		order_num,
		sum(quantity) AS quantity,
		sum(final_quantity) AS final_quantity,
		sum(per_count) AS per_count,
		sum(total_count) AS total_count
		FROM
		t_ex_order_item
		WHERE
		order_num IN
		<foreach collection="list" item="items" open="(" close=")" separator=",">
			#{items.order_num}
		</foreach>
		GROUP BY order_num
	</select> -->
	
	<!-- 新增 -->
	<insert id="saveEXOrderItem" useGeneratedKeys="true"
		parameterType="java.util.List">
		insert into t_ex_order_item(
		group_num,
		order_num,
		purchase_price,
		sale_price,
		quantity,
		final_quantity,
		svolume ,
		weight ,
		ex_time ,
		creator ,
		comment,
		create_time,
		zy_order_num,
		product_id,
		is_ivt_BK,
		fc_order_num
		) values
		<foreach collection="list" item="item" index="index"
			separator=",">
			(
			#{item.groupNum},
			#{item.orderNum},
			#{item.purchasePrice},
			#{item.salePrice},
			#{item.quantity},
			#{item.finalQuantity},
			#{item.svolume},
			#{item.weight},
			#{item.eXTime},
			#{item.creator},
			#{item.comment},
			NOW(),
			#{item.zyOrderNum},
			#{item.product.id},
			1,
			#{item.fc_order_num}
			)
		</foreach>
	</insert>
	<!-- 新增出库单明细 -->
	<insert id="savegiftEXOrderItem" useGeneratedKeys="true"
		parameterType="java.util.List">
		insert into t_ex_order_item(
		group_num,
		order_num,
		purchase_price,
		sale_price,
		quantity,
		final_quantity,
		svolume ,
		weight ,
		ex_time ,
		creator ,
		comment,
		create_time,
		zy_order_num,
		product_id,
		is_ivt_BK
		) values
		<foreach collection="list" item="item" index="index"
			separator=",">
			(
			#{item.groupNum},
			#{item.orderNum},
			#{item.purchasePrice},
			#{item.salePrice},
			#{item.quantity},
			#{item.finalQuantity},
			#{item.svolume},
			#{item.weight},
			#{item.eXTime},
			#{item.creator},
			#{item.comment},
			NOW(),
			#{item.zyOrderNum},
			#{item.product.id},
			${item.isivtBK}
			)
		</foreach>
	</insert>
	<!-- 删除 -->
	<delete id="delete" parameterType="pd">
		UPDATE t_ex_order_item
		SET
		state=2
		WHERE
		id = #{id}
	</delete>
	<!-- 删除 -->
	<delete id="deleteList" parameterType="java.util.List">
		delete from t_ex_order_item
		where group_num in
		<foreach collection="list" item="model" open="(" separator=","
			close=")">
			#{model.groupNum}
		</foreach>
	</delete>
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update t_ex_order_item
		set
		<if test="purchase_price!=null and purchase_price!=''">
			purchase_price=#{purchase_price},
		</if>
		<if test="sale_price!=null and sale_price!=''">
			sale_price=#{sale_price},
		</if>
		<if test="final_quantity!=null and final_quantity!=''">
			final_quantity=#{final_quantity},
		</if>
		<if test="creator!=null and creator!=''">
			creator= #{creator},
		</if>
		<if test="comment!=null and comment!=''">
			comment=#{comment},
		</if>

		<if test="ex_time !=null and ex_time= ''">
			ex_time=now()
		</if>
		<if test="product_id!=null and product_id!='' and product_id>0">
			product_id=#{product_id}
		</if>
		where
		id = #{id}
	</update>

	<update id="editQuantity" parameterType="pd">

		UPDATE t_ex_order_item
		SET
		final_quantity=#{final_quantity}
		where id=#{id}

	</update>
	<!-- 更新商品生产日期和出库日期 -->
	<update id="edittime" parameterType="pd">
		update t_ex_order_item
			set product_time=#{product_time},ex_time=NOW()
			where id=#{id}
	</update>
	
	<!-- 通过ID获取数据 -->
	<select id="findByIdOrOrderNumOrGroupNum" parameterType="pd"
		resultType="pd" useCache="false">
		SELECT
		texoi.*,
		(texoi.final_quantity*texoi.purchase_price) as
		totalPrice ,
		tp.id as product_id,
		tp.product_name,
		tp.product_num,
		tp.bar_code,
		texoi.zy_order_num,
		texoi.comment,
		<!-- tpmu.id tpmuId,
		tpmu.unit_name,
		tppm.id tppmId,
		tppm.packing_util_num,
		tppm.parent_id, -->
		tp.min_stock_num,
		tp.max_stock_num
		FROM
		t_ex_order_item texoi,t_product tp,
		tp_meterage_unit tpmu
		WHERE
		texoi.state=1 AND tp.id = texoi.product_id 
		AND
		tp.unit =tpmu.id 
		
		<if test="id!=null and id!='' and id>0">
			AND
			texoi.id=#{id}
		</if>
		<if test="order_num!=null and order_num!='' ">
			AND
			texoi.order_num=#{order_num}
		</if>
		<if test="group_num!=null and group_num!='' ">
			AND
			texoi.group_num=#{group_num}
		</if>
	</select>
	<select id="findPackingByParentId" parameterType="pd"
		resultType="pd" useCache="false">
		SELECT
		tppm.id tppmId,
		tppm.packing_util_num,
		tppm.parent_id,
		tpmu.id
		tpmuId,
		tpmu.unit_name
		FROM
		tp_packing_measurement tppm,tp_meterage_unit
		tpmu
		WHERE
		tpmu.id =tppm.meterage_unit_id
		AND tppm.is_choosed=1
		<if test="parentId!=null and parentId!='' and parentId>0">
			AND
			tppm.id=#{parentId}
		</if>
	</select>
	<select id="getOrderItemlistProduct" parameterType="pd" resultType="pd" useCache="false">
		SELECT
		toi.id,
		toi.fc_order_num,
		toi.order_num,
		tp.bar_code,
		tp.host_code,
		tp.product_num,
		tp.product_name,
		tp.specification,
		toi.quantity,
		toi.per_count,
		toi.total_count,
		tpmu.unit_name,
		toi.final_quantity,
		toi.is_ivt_BK,
		toi.gift_quantity,
		tm.merchant_name,
		toi.purchase_price,
		(toi.final_quantity*toi.purchase_price) as price,
		(toi.quantity*toi.purchase_price) as price1,
		toi.comment
		FROM
		t_ex_order_item AS toi

		LEFT JOIN t_product AS tp ON tp.id =toi.product_id
		LEFT JOIN t_ex_warehouse_order AS tewo ON tewo.order_num= toi.order_num
		LEFT JOIN tp_meterage_unit tpmu ON tpmu.id = tp.unit
		LEFT JOIN t_merchant as tm on tm.id=tewo.merchant_id
		where
		toi.order_num = #{orderNum}
	</select>
	
	
	<select id="getOrderItemlistProductlistPage" parameterType="page" resultType="pd" useCache="false">
		SELECT
		toi.id,
		toi.fc_order_num,
		toi.order_num,
		tp.bar_code,
		tp.host_code,
		tp.product_num,
		tp.product_name,
		tp.specification,
		toi.quantity,
		toi.per_count,
		toi.total_count,
		tpmu.unit_name,
		toi.final_quantity,
		toi.is_ivt_BK,
		toi.gift_quantity,
		tm.merchant_name,
		toi.purchase_price,
		(toi.final_quantity*toi.purchase_price) as price,
		(toi.quantity*toi.purchase_price) as price1,
		toi.comment
		FROM
		t_ex_order_item AS toi

		LEFT JOIN t_product AS tp ON tp.id =toi.product_id
		LEFT JOIN t_ex_warehouse_order AS tewo ON tewo.order_num= toi.order_num
		LEFT JOIN tp_meterage_unit tpmu ON tpmu.id = tp.unit
		LEFT JOIN t_merchant as tm on tm.id=tewo.merchant_id
		where
		toi.order_num = #{pd.orderNum}
	</select>
	<select id="getOrderItemlistProductByIdForPrint" parameterType="pd" resultType="pd" useCache="false">
		SELECT
		toi.id,
		toi.fc_order_num,
		toi.order_num,
		tp.bar_code,
		tp.host_code,
		tp.product_num,
		tp.product_name,
		tp.specification,
		toi.quantity,
		toi.per_count,
		toi.total_count,
		tpmu.unit_name,
		toi.final_quantity,
		toi.is_ivt_BK,
		toi.gift_quantity,
		tm.merchant_name,
		toi.purchase_price,
		(toi.final_quantity*toi.purchase_price) as price,
		(toi.quantity*toi.purchase_price) as price1,
		toi.comment
		FROM
		t_ex_order_item AS toi

		LEFT JOIN t_product AS tp ON tp.id =toi.product_id
		LEFT JOIN t_ex_warehouse_order AS tewo ON tewo.order_num= toi.order_num
		LEFT JOIN tp_meterage_unit tpmu ON tpmu.id = tp.unit
		LEFT JOIN t_merchant as tm on tm.id=tewo.merchant_id
		where
		toi.order_num = #{orderNum}
	</select>

	<select id="getFjItemById" parameterType="pd" resultType="pd" useCache="false">
		SELECT
		toi.id,
		toi.fc_order_num,
		toi.order_num,
		tp.bar_code,
		tp.host_code,
		tp.product_name,
		tp.specification,
		toi.quantity,
		toi.per_count,
		toi.total_count,
		tpmu.unit_name,
		toi.final_quantity,
		toi.is_ivt_BK,
		toi.gift_quantity,
		tm.merchant_name,
		toi.sale_price,
		(toi.final_quantity*toi.sale_price) as price,
		(toi.quantity*toi.sale_price) as price1,
		toi.comment
		FROM
		t_ex_order_item AS toi

		
		LEFT JOIN t_product AS tp ON tp.id =toi.product_id
		LEFT JOIN t_ex_warehouse_order AS tewo ON tewo.order_num= toi.order_num
		LEFT JOIN tp_meterage_unit tpmu ON tpmu.id = tp.unit
		LEFT JOIN t_merchant as tm on tm.id=tewo.merchant_id
		where
		toi.order_num = #{orderNum}
	</select>

	<!-- 根据商品ID 以及批次号 查询,所对应的出库单行信息 -->

	<select id="getExOrderItemByProductAndGroupNum" parameterType="pd"
		resultType="pd">

		SELECT
		*
		FROM
		t_ex_order_item AS teoi
		WHERE
		teoi.group_num =
		#{group_num}
		AND teoi.product_id = #{product_id}
		order by
		teoi.final_quantity desc

	</select>
	<!-- 根据入库单号删除入库单行 -->
	<delete id="deleteExOrderItemByOrderNum" parameterType="pd">
		DELETE
		FROM t_ex_order_item where t_ex_order_item.order_num=#{order_num}

	</delete>


	<!-- 查询总数为 -->
	<select id="selectSumExOrder" parameterType="String" resultType="pd">

		SELECT
		sum(quantity) AS quantity,
		sum(final_quantity) AS final_quantity,
		sum(per_count) AS per_count,
		sum(total_count) AS total_count
		FROM
		t_ex_order_item
		WHERE
		order_num = #{orderNum}
	</select>



	<!-- 查看入库单商品 -->
	<select id="exDataCenterlistPage" resultType="pd" parameterType="page">
		SELECT
		teo.id,
		teo.creator,
		teo.final_quantity,
		teo.quantity,
		teo.`comment`,
		teo.is_ivt_BK,
		teo.reason,
		teo.order_num,
		tp.product_name,
		tp.product_num,
		tp.bar_code,
		tp.specification,
		teo.sale_price as
		sale_price,
		teo.purchase_price AS purchase_price,
		tpt.classify_name,
		tmu.unit_name,
		(
		teo.final_quantity * teo.sale_price

		) AS sumSalePrice,
		ts.merchant_name,
		tewo.create_time,
		tewo.order_date
		FROM
		t_ex_order_item
		AS teo
		LEFT JOIN t_product AS tp ON tp.id = teo.product_id
		LEFT JOIN
		tp_product_type as tpt on tpt.id= tp.product_type_id
		LEFT JOIN
		tp_meterage_unit as tmu on tmu.id=tp.unit
		LEFT JOIN
		t_ex_warehouse_order AS tewo ON tewo.order_num =teo.order_num
		LEFT JOIN
		t_merchant as ts on ts.id=tewo.merchant_id
		WHERE 1=1
		<if test="pd.ivt_state!=null and pd.ivt_state!='' and pd.ivt_state>0">
			AND tewo.ivt_state=#{pd.ivt_state}
		</if>
		<if test="pd.ivt_state ==5 ">
			<if test="null != pd.StartDate and pd.StartDate!=''">
				and tewo.order_date &gt;= #{pd.StartDate}
			</if>
			<if test="null !=pd.EndDate  and pd.EndDate!=''">
				and tewo.order_date &lt;= #{pd.EndDate}
			</if>
		</if>
		<if test="pd.ivt_state ==1  or pd.ivt_state == 0">
			<if test="pd.StartDate!=null and pd.StartDate!=''">
				and tewo.create_time &gt;= #{pd.StartDate}
			</if>
			<if test="pd.EndDate !=null and pd.EndDate!=''">
				and tewo.create_time &lt;= #{pd.EndDate}
			</if>
		</if>
		<if test="  pd.bar_code !=null  and pd.bar_code!=''">
			AND tp.bar_code like CONCAT('%','${pd.bar_code}','%' )
		</if>
		<if test="  pd.merchant_name !=null and pd.merchant_name!=''">
			AND ts.merchant_name like
			CONCAT('%','${pd.merchant_name}','%' )
		</if>


	</select>

	<select id="dataCenterProductQuantitylistPage" resultType="pd"
		parameterType="page">
		SELECT
		tp.product_name,
		tp.bar_code,
		txi.product_id,
		count(txi.product_id) as ctp,
		tpt.classify_name,
		tmu.unit_name,
		tpp1.product_price,
		tpi.product_quantity,
		sum(txi.final_quantity) as fq,
		(sum(txi.final_quantity)*tpp1.product_price) as price,
		tcs.zone,
		tcs.storey,
		tcs.storey_num
		FROM
		t_ex_order_item AS txi
		LEFT JOIN t_product AS tp ON tp.id =
		txi.product_id
		LEFT JOIN t_product_inventory AS tpi ON tpi.product_id =
		tp.id
		AND tpi.warehouse_id = 1
		LEFT JOIN tp_cargo_space AS tcs ON tcs.id
		= tp.cargo_space_id
		LEFT JOIN tp_product_type AS tpt ON tpt.id =
		tp.product_type_id
		LEFT JOIN tp_meterage_unit AS tmu ON tmu.id =
		tp.unit
		LEFT JOIN tp_product_price AS tpp1 ON tpp1.product_id = tp.id
		AND tpp1.price_type = 1
		where
		1=1
		<if test="pd.StartDate!=null and pd.StartDate!=''">
			and txi.create_time &gt;= #{pd.StartDate}
		</if>
		<if test="pd.EndDate !=null and pd.EndDate!=''">
			and txi.create_time &lt;= #{pd.EndDate}
		</if>
		GROUP BY
		product_id
		HAVING
		count(*) > 0


	</select>
	
	<select id="fencangCount" parameterType="page" resultType="pd">
		SELECT
			COUNT(*) cou
		FROM
			t_ex_order_item AS toi
		LEFT JOIN t_product AS tp ON tp.id = toi.product_id
		LEFT JOIN t_ex_warehouse_order AS tewo ON tewo.order_num = toi.order_num
		LEFT JOIN tp_meterage_unit tpmu ON tpmu.id = tp.unit
		LEFT JOIN t_merchant AS tm ON tm.id = tewo.merchant_id
		WHERE
			toi.order_num = #{order_num}
	</select>
	
	<select id="getOrderItemlistById" parameterType="pd" resultType="pd" useCache="false">
		SELECT
		toi.id,
		toi.fc_order_num,
		toi.order_num,
		tp.bar_code,
		tp.host_code,
		tp.product_name,
		tp.specification,
		toi.quantity,
		toi.per_count,
		toi.total_count,
		tpmu.unit_name,
		toi.final_quantity,
		toi.is_ivt_BK,
		tm.merchant_name,
		toi.sale_price,
		(toi.final_quantity*toi.sale_price) as price,
		(toi.quantity*toi.sale_price) as price1,
		toi.comment
		FROM
		t_ex_order_item AS toi

		
		LEFT JOIN t_product AS tp ON tp.id =toi.product_id
		LEFT JOIN t_ex_warehouse_order AS tewo ON tewo.order_num= toi.order_num
		LEFT JOIN tp_meterage_unit tpmu ON tpmu.id = tp.unit
		LEFT JOIN t_merchant as tm on tm.id=tewo.merchant_id
		where
		toi.order_num = #{order_num}
	</select>
	
	<!-- 新增 -->
	<insert id="saveitem" parameterType="pd">
		insert into t_ex_order_item(
		group_num,
		order_num,
		product_id,
		purchase_price,
		sale_price,
		quantity,
		final_quantity,
		svolume ,
		weight ,
		ex_time ,
		creator ,
		comment,
		create_time,
		state,
		reason,
		is_ivt_BK,
		gift_quantity
		) values (
		#{group_num},
		#{order_num},
		#{product_id},
		#{purchase_price},
		#{sale_price},
		#{quantity},
		#{final_quantity},
		#{svolume},
		#{weight},
		NOW(),
		#{creator},
		#{comment},
		now(),
		#{state},
		#{reason},
		#{is_ivt_BK},
		#{gift_quantity}
		)
	</insert>
	
	<update id="editgiftQuantity" parameterType="pd">

		UPDATE t_ex_order_item
		SET
		gift_quantity=#{gift_quantity}
		where id=#{id}

	</update>
	
</mapper>