<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="thproductMapper">



	<select id="cgexOrder" parameterType="pd"  resultType="pd" flushCache="false">
		SELECT tewo.*,tsp.supplier_name,tsp.address,tsp.short_name,
		(select sum(final_quantity) from t_ex_order_item where order_num=#{order_num}) final_quantity
		 from t_ex_warehouse_order tewo
		LEFT JOIN tp_supplier tsp on tsp.id=tewo.merchant_id
		where tewo.order_num=#{order_num}
	</select>
	<select id="cgexOrderitem" parameterType="pd" resultType="pd" flushCache="false">
		select teoi.*,tpt.bar_code,tpt.product_name,tpt.product_num,tmu.unit_name,tpt.specification 
		from t_ex_order_item teoi
		LEFT JOIN t_product tpt on tpt.id=teoi.product_id
		left join tp_meterage_unit tmu on tmu.id=tpt.unit
		where teoi.order_num=#{order_num}
	</select>
	
	<select id="cgOrderlistPage" parameterType="page" resultType="pd">
		select tewo.*,tsp.supplier_name,tsp.address,tsp.short_name,sysu.USERNAME from t_ex_warehouse_order tewo 
		LEFT JOIN sys_user sysu on sysu.USER_ID=tewo.user_id
		LEFT JOIN tp_supplier tsp on tsp.id=tewo.merchant_id
		where tewo.order_type=2
		<if test="pd.keyword != null and pd.keyword != ''"><!-- 关键词检索 -->
			   <if test="pd.searchcriteria==1">
			    and tsp.supplier_name LIKE  CONCAT('%','${pd.keyword}','%' )  
			   </if> 
			    <if test="pd.searchcriteria==3">
			    and tewo.order_num LIKE  CONCAT('%','${pd.keyword}','%' )  
			   </if> 
	    </if>
	    <if test="pd.checked_state!=null and pd.checked_state!=''">
			    and tewo.checked_state=#{pd.checked_state}
		</if> 
	    <if test="pd.searchcriteria==2">
			<if test="pd.lastLoginStart!=null and pd.lastLoginStart!=''"><!-- 登录时间检索 -->
			   and  tewo.create_time &gt;= #{pd.lastLoginStart} 
		    </if>
	       <if test="pd.lastLoginEnd!=null and pd.lastLoginEnd!=''"><!-- 登录时间检索 -->
			   and tewo.create_time &lt;= #{pd.lastLoginEnd} 
		   </if>
		</if>
	</select>
	<select id="xsOrderlistPage" parameterType="page" resultType="pd">
		SELECT tewo.*,tmt.merchant_name,tmt.address,tmt.short_name,sysu.USERNAME from t_en_warehouse_order tewo
		LEFT JOIN sys_user sysu on sysu.USER_ID=tewo.user_id
		LEFT JOIN t_merchant tmt on tmt.id=tewo.supplier_id
		where tewo.order_type=2
		<if test="pd.keyword != null and pd.keyword != ''"><!-- 关键词检索 -->
			   <if test="pd.searchcriteria==1">
			    and tmt.merchant_name LIKE  CONCAT('%','${pd.keyword}','%' )  
			   </if> 
			    <if test="pd.searchcriteria==3">
			    and tewo.order_num LIKE  CONCAT('%','${pd.keyword}','%' )  
			   </if> 
	    </if>
	     <if test="pd.checked_state!=null and pd.checked_state!=''">
			    and tewo.checked_state=#{pd.checked_state}
		</if> 
	    <if test="pd.searchcriteria==2">
			<if test="pd.lastLoginStart!=null and pd.lastLoginStart!=''"><!-- 登录时间检索 -->
			   and  tewo.create_time &gt;= #{pd.lastLoginStart} 
		    </if>
	       <if test="pd.lastLoginEnd!=null and pd.lastLoginEnd!=''"><!-- 登录时间检索 -->
			   and tewo.create_time &lt;= #{pd.lastLoginEnd} 
		   </if>
		</if>
	</select>
	
	<select id="xsenOrder" parameterType="pd"  resultType="pd" flushCache="false">
		SELECT tewo.*,tmt.merchant_name,tmt.address,tmt.short_name,
		(select sum(final_quantity) from t_en_order_item where order_num=#{order_num}) final_quantity
		 from t_en_warehouse_order tewo
		LEFT JOIN t_merchant tmt on tmt.id=tewo.supplier_id
		where tewo.order_num=#{order_num}
	</select>
	<select id="xsenOrderitem" parameterType="pd" resultType="pd" flushCache="false">
		select teoi.*,tpt.bar_code,tpt.product_name,tpt.product_num,tmu.unit_name,tpt.specification 
		from t_en_order_item teoi
		LEFT JOIN t_product tpt on tpt.id=teoi.product_id
		left join tp_meterage_unit tmu on tmu.id=tpt.unit
		where teoi.order_num=#{order_num}
	</select>
	
	
	
	<select id="productreturnlistPage" parameterType="page" resultType="pd">
		select tso.*,tmt.merchant_name,tmt.short_name from t_selling_order tso
		LEFT JOIN t_merchant tmt on tmt.id=tso.merchant_id
		where tso.order_type=2
		<if test="pd.keyword != null and pd.keyword != ''"><!-- 关键词检索 -->
			   <if test="pd.searchcriteria==1">
			    and tmt.merchant_name LIKE  CONCAT('%','${pd.keyword}','%' )  
			   </if> 
			    <if test="pd.searchcriteria==3">
			    and tso.order_num LIKE  CONCAT('%','${pd.keyword}','%' )  
			   </if> 
	    </if>
	    <if test="pd.searchcriteria==2">
			<if test="pd.lastLoginStart!=null and pd.lastLoginStart!=''"><!-- 登录时间检索 -->
			   and  tso.create_time &gt;= #{pd.lastLoginStart} 
		    </if>
	       <if test="pd.lastLoginEnd!=null and pd.lastLoginEnd!=''"><!-- 登录时间检索 -->
			   and tso.create_time &lt;= #{pd.lastLoginEnd} 
		   </if>
		</if>
		 <if test="pd.checked_state!=null and pd.checked_state!=''"><!-- 登录时间检索 -->
			   and tso.checked_state &lt;= #{pd.checked_state} 
		   </if>
		order by tso.checked_state,tso.id desc
	</select>
	<select id="commodityProductItem" parameterType="pd" resultType="pd">
		select tsoi.*,tpt.bar_code,tpt.product_name,tpt.product_num,tmu.unit_name,tpt.specification 
		from t_selling_order_item tsoi
		LEFT JOIN t_product tpt on tpt.id=tsoi.product_id
		left join tp_meterage_unit tmu on tmu.id=tpt.unit
		where order_num=#{order_num}
	</select>
	
	<select id="sumFinalquantity" parameterType="pd" resultType="pd">
		select sum(final_quantity*sale_price) final_amount,sum(final_quantity) final_quantity,sum(quantity) quantity from t_selling_order_item
		where order_num=#{order_num}
	</select>
	
	<update id="updateSelltypetwo" parameterType="pd">
		update t_selling_order
		set checked_state=3
		where group_num =#{group_num}
	</update>
	
	<update id="updateSelltype" parameterType="pd">
		update t_selling_order
		set checked_state=${checked_state}
		where id in (${ids})
	</update>
	
	
	<select id="findOrderList" parameterType="pd" resultType="pd" flushCache="false">
		
		select tsoi.*,tmt.merchant_name from t_selling_order tsoi

		LEFT JOIN t_merchant tmt on tmt.id=tsoi.merchant_id
		 where 1=1
		
		<if test=" id !=null and id !='' ">
				and tsoi.id=${id}
		</if>
		<if test=" order_num !=null and order_num !='' ">
				and tsoi.order_num=#{order_num}
		</if>
	</select>
	
	<select id="findOrderListItem" parameterType="pd" resultType="pd" flushCache="false">
		select tsoi.*,tpp.product_price,tpp.relation_id,tsp.supplier_name,tsp.contact_person,tsp.contact_person_mobile,tsp.address, 
		tpt.sku_volume,
		tpt.sku_weight,
		tpp2.product_price sale_price1
		from t_selling_order_item tsoi
		LEFT JOIN t_product tpt on tsoi.product_id=tpt.id
		LEFT JOIN tp_product_price tpp on tsoi.product_id=tpp.product_id and tpp.supplier_priority=1 and tpp.price_type=1
		left join tp_product_price tpp2 on tpp2.product_id=tsoi.product_id and tpp2.price_type=2
		LEFT JOIN tp_supplier tsp on tsp.id=tpp.relation_id  
		where 1=1
		<if test=" id !=null and id !='' ">
				and tsoi.id=${id}
		</if>
		<if test=" order_num !=null and order_num !='' ">
				and tsoi.order_num=#{order_num}
		</if>
	</select>
	
	<!-- 退货订单导出到Excel -->
	<select id="excelexport" parameterType="pd" resultType="pd">
		SELECT
			tsoi.id,
			tso.group_num,
			tso.order_num,
			tso.checked_state,
			tso.merchant_id,
			tso.order_date,
			tso.`comment`,
			tsoi.quantity,
			tsoi.final_quantity,
			tsoi.gift_quantity,
			tmt.merchant_num,
			tmt.merchant_name,
			tmt.short_name,
			tpt.bar_code,
			tpt.product_name,
			tpt.product_num,
			tmu.unit_name,
			tpt.specification,
			tpp.product_price
		FROM
			t_selling_order tso
		LEFT JOIN t_selling_order_item tsoi ON tsoi.order_num=tso.order_num
		LEFT JOIN t_merchant tmt ON tmt.id = tso.merchant_id
		LEFT JOIN t_product tpt ON tpt.id = tsoi.product_id
		LEFT JOIN tp_meterage_unit tmu ON tmu.id = tpt.unit
		LEFT JOIN tp_product_price tpp ON tpp.product_id = tpt.id
		AND tpp.price_type = 2
		WHERE
			tso.order_type = 2
			<if test="keyword != null and keyword != ''"><!-- 关键词检索 -->
			   <if test="searchcriteria==1">
			    and tmt.merchant_name LIKE  CONCAT('%','${keyword}','%' )  
			   </if> 
			    <if test="searchcriteria==3">
			    and tso.order_num LIKE  CONCAT('%','${keyword}','%' )  
			   </if> 
	    </if>
	    <if test="searchcriteria==2">
			<if test="lastLoginStart!=null and lastLoginStart!=''"><!-- 登录时间检索 -->
			   and  tso.create_time &gt;= #{lastLoginStart} 
		    </if>
	       <if test="lastLoginEnd!=null and lastLoginEnd!=''"><!-- 登录时间检索 -->
			   and tso.create_time &lt;= #{lastLoginEnd} 
		   </if>
		</if>
		 <if test="checked_state!=null and checked_state!=''"><!-- 状态检索 -->
			   and tso.checked_state &lt;= #{checked_state} 
		 </if>
		ORDER BY
			tso.checked_state,
			tso.id DESC;
	</select>
	
</mapper>