/* 购物车图标 */
.shopCart_icon {background-image: url("../image/orderList/shopCartSprite.png"); display: inline-block;background-size: 2.55rem 2.01rem;}
.paySuccess {background-position: -1.6rem -1.19rem; width: .80rem; height: .8rem; }
.bankCard {background-position: -.8rem -1.19rem; width: .56rem; height: .57rem; }
.wxPay {background-position: 0 -1.19rem; width: .57rem; height: .57rem; }
.rightArrow {background-position: -1.8rem -.59rem; width: .12rem; height: .22rem; }
.del_icon {background-position: 2rem 1.42rem; width: .44rem; height: .44rem; }
.noCheck {background-position: 128px -131px; width: .3rem; height: .3rem; }
.unCheck_icon {background-position: 1.2rem -1.38rem; width: .3rem; height: .3rem; }
.check_icon {background-position:1.66rem -1.38rem; width: .3rem; height: .3rem; }
.address_icon {background-position: -2.2rem 0; width: .33rem; height: .36rem; }
.add_icon {background-position: 0.4rem 0; width: .4rem; height: .4rem; }
.middle_icon {background-position: 1.3rem 0; width: .72rem; height: .4rem; }
.minus_icon {background-position: 2rem 0; width: .4rem; height: .4rem; }